/* .contact {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  width: 25rem;
  flex-shrink: 0;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    p {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }
}

@media (prefers-color-scheme: light) {
  .contact {
    border: 1px solid #213547;
  }
} */
