.form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  padding: 1rem;
  gap: 1em;
  width: 25rem;
  margin: 0 auto;

  input {
    border: 1px solid rgba(255, 255, 255, 0.87);
    border-radius: 8px;
    width: -webkit-fill-available;
    height: 2.5rem;
  }
  input:hover {
    border-color: #646cff;
  }
  input:focus {
    outline: none;
    border-color: #646cff;
    box-shadow: 0 0 6px rgba(30, 144, 255, 0.6);
  }
}

@media (prefers-color-scheme: light) {
  .form {
    border: 1px solid #213547;
    input {
      border: 1px solid #213547;
    }
  }
}

.error {
  color: #646cff;
}
