:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #646cff;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.2;
}

p {
  margin: 0;
  font-size: 1em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

a:hover,
button:hover,
input:hover {
  border-color: #646cff;
}

a:focus,
a:focus-visible,
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  width: 25rem;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  height: 2.5rem;
  padding-left: 8px;
}

input:focus {
  outline: none;
  border-color: #646cff;
  box-shadow: 0 0 6px rgba(30, 144, 255, 0.6);
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  padding: 1rem;
  gap: 1em;
  width: 25rem;
  margin: 0 auto;
  input {
    width: -webkit-fill-available;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a,
  button {
    background-color: #f9f9f9;
  }
  input {
    border: 1px solid #213547;
  }
  form {
    border: 1px solid #213547;
  }
}
